<div class="main-app">
  <div class="app-sidebar">
    <div class="app-sidebar-section">
      <h2>Instructions</h2>
      <ul>
        <li>Select dates and you will be prompted to create a new event</li>
        <li>Drag, drop, and resize events</li>
        <li>Click an event to delete it</li>
      </ul>
    </div>
    <div class="app-sidebar-section">
      <label>
        <input
          type="checkbox"
          [checked]="calendarVisible"
          (change)="handleCalendarToggle()"
        />
        toggle whole calendar
      </label>
    </div>
    <div class="app-sidebar-section">
      <label>
        <input
          type="checkbox"
          [checked]="calendarOptions().weekends"
          (change)="handleWeekendsToggle()"
        />
        toggle weekends
      </label>
    </div>
    <div class="app-sidebar-section">
      <h2>All Events ({{ currentEvents.length }})</h2>
      <ul>
        <li *ngFor="let event of currentEvents()">
          <b>{{ event.startStr }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
      &nbsp;
      <h3 class="love">Made with love ❤️ by Turja Talukder</h3>
    </div>
  </div>

  <div class="app-main">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
    <full-calendar></full-calendar>
  </div>
</div>
